<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "reset", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to "Pulse Fitness", "", {:class=>"title"} %>
		<nav class="nav">
			<div class="nav-mobile"></div>
			<ul class="navList">
				<li><%= link_to "Profile", root_path, class:"navItem" %></li>
				<li><%= link_to "Settings", "#", class:"navItem" %></li>
				<li><%= link_to "Sign In", "#", class:"navItem" %></li>
			</ul>
		</nav>
	</header>
	<main>
		<%= yield %>
	</main>
</body>
</html>
