<% if signed_in? %>
  <div >
    <aside>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      <section>
        <%= render 'shared/status_form' %>
      </section>
    </aside>
    <main>
    	<h3>Status Feed</h3>
    	<%= render 'shared/feed' %>
    </main>
  </div>
<% else %>
  <div class="titleBlock">
    <h1>Welcome to Pulse Fitness</h1>
    <h2>This is the home page for Pulse Fitness.</h2>
    <br>
    <%= link_to "Sign Up", signup_path, class: "signUpBtn" %>
  </div>
<% end %>