<% provide(:title, "Edit user") %>
  <h1 class="userName headingFont centered">Update Your Profile</h1>
  <div class="leftContainer">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <h1 class="userName headingFont centered">Account Info</h1>

      <%= f.label :displayName, "Display Name", class:"formLabel headingFont" %>
      <%= f.text_field :displayName, class:"formField" %>
      <br>
      <br>
      <%= f.label :emailAdd, "Email", class:"formLabel headingFont" %>
      <%= f.text_field :emailAdd, class:"formField" %>
      <br>
      <br>
      <%= f.label :password, class:"formLabel headingFont" %>
      <%= f.password_field :password, class:"formField" %>
      <br>
      <br>
      <%= f.label :password_confirmation, "Confirm Password", class:"formLabel headingFont" %>
      <%= f.password_field :password_confirmation, class:"formField" %>
      <br>
      <br>
      <%= f.label :profileImgURL, "Profile Image URL", class:"formLabel headingFont" %>
      <%= f.text_field :profileImgURL, class:"formField" %>
      <br>
      <br>
      <br>

     <h1 class="userName headingFont centered">Personal Stats</h1>

	   <%= f.label :heightM, "Height", class:"formLabel headingFont" %>
	   <%= f.text_field :heightM, class:"formField" %>
	   <br>
       <br>
	   <%= f.label :weightM, "Weight", class:"formLabel headingFont" %>
	   <%= f.text_field :weightM, class:"formField" %>
	   <br>
       <br>
	   <%= f.label :bodyFatM, "Body Fat %", class:"formLabel headingFont" %>
	   <%= f.text_field :bodyFatM, class:"formField" %>
	   <br>
       <br>
	   <%= f.label :shouldersM, "Shoulders", class:"formLabel headingFont" %>
	   <%= f.text_field :shouldersM, class:"formField" %>
	   <br>
       <br>
	   <%= f.label :neckM, "Neck", class:"formLabel headingFont" %>
	   <%= f.text_field :neckM, class:"formField" %>
	   <br>
       <br>
	   <%= f.label :armsM, "Arms", class:"formLabel headingFont" %>
	   <%= f.text_field :armsM, class:"formField" %>
	   <br>
       <br>
	   <%= f.label :forearmsM, "Forearms", class:"formLabel headingFont" %>
	   <%= f.text_field :forearmsM, class:"formField" %>
	   <br>
       <br>
	   <%= f.label :waistM, "Waist", class:"formLabel headingFont" %>
	   <%= f.text_field :waistM, class:"formField" %>
	   <br>
       <br>
	   <%= f.label :chestM, "Chest", class:"formLabel headingFont" %>
	   <%= f.text_field :chestM, class:"formField" %>
	   <br>
       <br>
	   <%= f.label :thighsM, "Thighs", class:"formLabel headingFont" %>
	   <%= f.text_field :thighsM, class:"formField" %>
	   <br>
       <br>
	   <%= f.label :calvesM, "Calves", class:"formLabel headingFont" %>
	   <%= f.text_field :calvesM, class:"formField" %>

	  </div>
    <div class="rightContainer">
      <h1 class="userName headingFont centered">Soundtrack</h1>
      <div class="leftContainer noTopMargin">
        <%= f.label :song1, "Title", class:"formSongEditLabel headingFont" %>
        <%= f.text_field :song1, class:"formSongEditField", tabIndex:"100" %>
        <br>
        <br>
        <%= f.label :song2, "Title", class:"formSongEditLabel headingFont" %>
        <%= f.text_field :song2, class:"formSongEditField", tabIndex:"102" %>
        <br>
        <br>
        <%= f.label :song3, "Title", class:"formSongEditLabel headingFont" %>
        <%= f.text_field :song3, class:"formSongEditField", tabIndex:"104" %>
        <br>
        <br>
        <%= f.label :song4, "Title", class:"formSongEditLabel headingFont" %>
        <%= f.text_field :song4, class:"formSongEditField", tabIndex:"106" %>
        <br>
        <br>
        <%= f.label :song5, "Title", class:"formSongEditLabel headingFont" %>
        <%= f.text_field :song5, class:"formSongEditField", tabIndex:"108" %>
      </div>
      <div class="rightContainer noTopMargin">
        <%= f.label :artist1, "Artist", class:"formSongEditLabel headingFont" %>
        <%= f.text_field :artist1, class:"formSongEditField", tabIndex:"101" %>
        <br>
        <br>
        <%= f.label :artist2, "Artist", class:"formSongEditLabel headingFont" %>
        <%= f.text_field :artist2, class:"formSongEditField", tabIndex:"103" %>
        <br>
        <br>
        <%= f.label :artist3, "Artist", class:"formSongEditLabel headingFont" %>
        <%= f.text_field :artist3, class:"formSongEditField", tabIndex:"105" %>
        <br>
        <br>
        <%= f.label :artist4, "Artist", class:"formSongEditLabel headingFont" %>
        <%= f.text_field :artist4, class:"formSongEditField", tabIndex:"107" %>
        <br>
        <br>
        <%= f.label :artist5, "Artist", class:"formSongEditLabel headingFont" %>
        <%= f.text_field :artist5, class:"formSongEditField", tabIndex:"109" %>
      </div>

      <div class="optionsBox">
        <h1 class="userName headingFont centered">Options</h1>
        <%= f.label :hideStats, "Hide Stats", class:"formLabelRadio headingFont" %>
        <%= f.check_box :hideStats, class:"formFieldRadio", tabIndex:"110" %>
        <br>
        <br>
        <%= f.label :hideWorkouts, "Hide Workouts", class:"formLabelRadio headingFont" %>
        <%= f.check_box :hideWorkouts, class:"formFieldRadio", tabIndex:"111" %>
        <br>
        <br>
        <%= f.label :hideSoundtrack, "Hide Sountrack", class:"formLabelRadio headingFont" %>
        <%= f.check_box :hideSoundtrack, class:"formFieldRadio", tabIndex:"112"  %>
      </div>
      <br>
      <br>
      <%= f.submit "Save changes", class: "signUpBtn", tabIndex:"113" %>
    <% end %>
  </div>