<p id="notice"><%= notice %></p>

<p>
  <strong>Displayname:</strong>
  <%= @user.displayName %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Emailadd:</strong>
  <%= @user.emailAdd %>
</p>

<p>
  <strong>Profileimgurl:</strong>
  <%= @user.profileImgURL %>
</p>

<p>
  <strong>Heightm:</strong>
  <%= @user.heightM %>
</p>

<p>
  <strong>Weightm:</strong>
  <%= @user.weightM %>
</p>

<p>
  <strong>Bodyfatm:</strong>
  <%= @user.bodyFatM %>
</p>

<p>
  <strong>Armsm:</strong>
  <%= @user.armsM %>
</p>

<p>
  <strong>Forearmsm:</strong>
  <%= @user.forearmsM %>
</p>

<p>
  <strong>Waistm:</strong>
  <%= @user.waistM %>
</p>

<p>
  <strong>Chestm:</strong>
  <%= @user.chestM %>
</p>

<p>
  <strong>Thighsm:</strong>
  <%= @user.thighsM %>
</p>

<p>
  <strong>Calvesm:</strong>
  <%= @user.calvesM %>
</p>

<p>
  <strong>Shouldersm:</strong>
  <%= @user.shouldersM %>
</p>

<p>
  <strong>Neckm:</strong>
  <%= @user.neckM %>
</p>

<p>
  <strong>Hidestats:</strong>
  <%= @user.hideStats %>
</p>

<p>
  <strong>Hideroutines:</strong>
  <%= @user.hideRoutines %>
</p>

<p>
  <strong>Hidesoundtrack:</strong>
  <%= @user.hideSoundtrack %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
