<% provide(:title, @user.displayName) %>
<aside class="leftContent">
	<!-- profile card -->
	<div class="flip-container">
		<div class="profileCardMain">
			<div class="profileCardFront">
				<div class="profileCardImageContainer">
					<% if @user.profileImgURL.to_s != '' && @user.profileImgURL  %>
						<%= image_tag(@user.profileImgURL, alt:@user.displayName, class:"profileCardImage") %>
					<% else %>
						Default
					<% end %>
				</div>
				<h1 class="profileCardUserName"><%= @user.displayName %></h1>
			</div>
			<div class="profileCardBack">
				<div class="profileCardBackContainer">
					<ul class="profileCardBackList">
						<% unless @user.hideStats && @user.hideSoundtrack && @user.hideWorkouts %>
							<% unless @user.hideStats %>
								<li class="profileCardBackListItem" style="width:25%;">Stats</li>
							<% end %>
							<% unless @user.hideSoundtrack %>
								<li class="profileCardBackListItem" style="width:40%;">Soundtrack</li>
							<% end %>
							<% unless @user.hideWorkouts %>
								<li class="profileCardBackListItem" style="width:35%;">Workouts</li>
							<% end %>
							<div class="hidden cardBackContent" id="Stats">
								<%= render 'shared/profile_card_stats' %>
							</div>
							<div class="hidden cardBackContent" id="Soundtrack">
								<%= render 'shared/profile_card_soundtrack' %>
							</div>
							<div class="hidden cardBackContent" id="Workouts">
								<%= render 'shared/profile_card_workouts' %>
							</div>
						<% else %>
							<li class="privateInfoMessage">Info hidden by the user</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<section>
		<%= render 'shared/stats' %>
	</section>
	<section>
		<% if @user == current_user %>
			<section>
				<%= render 'shared/status_form' %>
			</section>
			<br>
			<section>
				<%= render 'shared/fitness_controls' %>
			</section>
		<% else %>
			<%= render 'follow_form' if signed_in? %>
		<% end %>
	</section>
	<section>

</aside>

<section class="middleContent">
	<% if @user.statuses.any? %>
		<h1 class="userName headingFont statusListHeading">Whats Going On</h1>	
		<ul class="statusList">
			<%= render @statuses %>
		</ul>	
	<% else %>
		<h1 class="userName headingFont statusListHeading">Nothing Going On :(</h1>
	<% end %>
	
	<!--<%= will_paginate @statuses %> -->
</section>

<% if @user == current_user %>
	<section class="rightContent">
			<ol class="buddyList">
				<% if @buddies.any? %>
					<li><h1 class="userName headingFont" style="margin-left: 5px;">Buddies</h1></l1>
					<%= render @buddies %>
				<% else %>
					<li><h1 class="userName" style="margin-left: 5px">No Buddies :(</h1></li>
				<% end %>
			</ol>
	</section>
<% end %>