<% provide(:title, @user.displayName) %>
<aside class="leftContent">
	<!-- profile card -->
	<div class="flip-container">
		<div class="profileCardMain">
			<div class="profileCardFront">
				<div class="profileCardImageContainer">
					<% if @user.profileImgURL.to_s != '' && @user.profileImgURL  %>
						<%= image_tag(@user.profileImgURL, alt:@user.displayName, class:"profileCardImage") %>
					<% else %>
						Default
					<% end %>
				</div>
				<h1 class="profileCardUserName"><%= @user.displayName %></h1>
			</div>
			<div class="profileCardBack">
				<div class="profileCardBackContainer">
					<ul class="profileCardBackList">
						<li class="profileCardBackListItem" style="width:25%;">Stats</li>
						<li class="profileCardBackListItem" style="width:40%;">Soundtrack</li>
						<li class="profileCardBackListItem noRightBorder" style="width:35%;">Routines</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<section>
		<%= render 'shared/stats' %>
	</section>
	<section>
		<% if @user == current_user %>
			<%= render 'shared/status_form' %>
		<% else %>
			<%= render 'follow_form' if signed_in? %>
	<% end %>
	</section>
</aside>

<section class="middleContent">
		<ol class="statusList">
			<% if @user.statuses.any? %>
				<li><h1 class="userName headingFont" style="margin-left: 5px;">Whats going on</h1></li>
				<%= render @statuses %>
			<% else %>
				<li><h1 class="userName" style="margin-left: 5px;">Nothing going on :(</h1></li>
			<% end %>
		</ol>
		<%= will_paginate @statuses %>
</section>

<% if @user == current_user %>
	<section class="rightContent">
			<ol class="buddyList">
				<% if @buddies.any? %>
					<li><h1 class="userName headingFont" style="margin-left: 5px;">Buddies</h1></l1>
					<%= render @buddies %>
				<% else %>
					<li><h1 class="userName" style="margin-left: 5px">No Buddies :(</h1></li>
				<% end %>
			</ol>
	</section>
<% end %>