<% provide(:title, @title) %>
<div >
  <aside class="leftContent">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <aside class="mainContent">
      <% if @users.any? %>
        <ol class="statusList smallerList">
          <li><h1 class="userName" style="margin-left: 5px;"><%= @title %></h1></li>
          <%= render @users %>
        </ol>
        <%= will_paginate %>
      <% end %>
    </aside>
  <div >
    
  </div>
</div>