<% provide(:title, @user.displayName) %>
<aside class="userCard">
	<% if @user.profileImgURL.to_s != '' && @user.profileImgURL  %>
		<%= image_tag(@user.profileImgURL, alt:@user.displayName) %>
	<% end %>
	<%= @user.displayName %>
	<section>
		<%= render 'shared/stats' %>
	</section>
	<section>
		<%= render 'follow_form' if signed_in? %>
	</section>
	<% unless @user.hideStats %>
		<h2 class="stats">Height: <%= @user.heightM %></h2>
		<h2 class="stats">Weight: <%= @user.weightM %></h2>
		<h2 class="stats">Body Fat: <%= @user.bodyFatM %>%</h2>
	<% end %>
</aside>
<aside class="statusBlock">
	<% if @user.statuses.any? %>
		<h3>Statuses (<%= @user.statuses.count %>)</h3>
		<ol class="statuses">
			<%= render @statuses %>
		</ol>
		<%= will_paginate @statuses %>
	<% end %>
</aside>