<ul class="statList">
	<li class="leftList">Height:</li><li class="rightList"><%= @user.heightM %></li>
	<li class="leftList">Weight:</li><li class="rightList"><%= @user.weightM %></li>

	<li class="leftList">Body Fat %:</li><li class="rightList"><%= @user.bodyFatM %></li>
	<li class="leftList">Shoulders:</li><li class="rightList"><%= @user.shouldersM %></li>

	<li class="leftList">Arms:</li><li class="rightList"><%= @user.armsM %></li>
	<li class="leftList">Forearms:</li><li class="rightList"><%= @user.forearmsM %></li>

	<li class="leftList">Neck:</li><li class="rightList"><%= @user.neckM %></li>
	<li class="leftList">Chest:</li><li class="rightList"><%= @user.chestM %></li>

	<li class="leftList">Thighs:</li><li class="rightList"><%= @user.thighsM %></li>
	<li class="leftList">Waist:</li><li class="rightList"><%= @user.waistM %></li>

	<li class="leftList">Calves:</li><li class="rightList"><%= @user.calvesM %></li>
</ul>